@media screen and (max-width: 600px) {
    .contenido{
      width: 100%;
      height: auto;
    }
    .text-area{
        position: absolute;
        width: 343px;
        height: 48px;
        left: 16px;
        top: 152px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0A3871;
    }
    .left{
      padding: 250px 50px ;
      width: 100%;
      height: 100%;
    }
    .left-button{
      width: 90%;
      margin-left: 5%;
    }
    #btn-encriptar{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        width: 343px;
        height: 67px;
        
        /* Dark blue/dark-blue-300 */
        
        background: #0A3871;
        border-radius: 24px;
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
    #btn-desencriptar{
        box-sizing: border-box;
        
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        
        width: 343px;
        height: 67px;
        
        /* Dark blue/dark-blue-300 */
        
        border: 1px solid #0A3871;
        border-radius: 24px;
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        align-self: st
    }
    .right{
      display: block;
      position: absolute;
      width: 90%;
      left: 5%;
      top: 800px;
    }
    #imgDer{
      display: none;
    }
    #copiar{
      width: 80%;
      margin-left: 10%;
    }
    .logoImg{
      width: 40%;
      margin-left: auto;
    }
    .titulo{
      display: none;
    }
    #texto{
      display: flex;
      flex-direction: column;
    align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: absolute;
        width: 327px;
        height: 186px;
        left: 24px;
        top: 800px;

        /* White */

        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }
    .adv{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        
        position: absolute;
        width: 229px;
        height: 18px;
        left: 16px;
        top: 451px;
    }
}   
    